/* 这里放未解耦的样式代码 */

/* 每一个标签栏 (上方) */

/* 全局列表行圆角 */
.monaco-list-row {
  border-radius: 4px !important;
}

/* 为各窗口提供透明支持 - 未解耦！！！ */
.title.tabs.show-file-icons,
.tabs-and-actions-container,
.monaco-scrollable-element,
.centext-view {
  background-color: transparent !important;
  border-radius: 8px;
  /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); */
}

/* 鼠标悬停到某些标签上的提示 */
.context-view.monaco-component {
  border-radius: 12px !important;
  background-color: rgba(40, 44, 52, 0.2) !important;
  backdrop-filter: blur(8px) brightness(120%);
  box-shadow: 0 0 8px 2px rgb(32, 36, 42) !important;
}

/* 通知 */
.notifications-center.visible {
  background-color: transparent !important;
  backdrop-filter: blur(20px) brightness(110%);
  div {
    /* 为通知内部容器添加透明支持 */
    background-color: transparent !important;
  }
}

/* 为分割页面容器添加透明支持 */
.part.panel.basepanel.bottom.pane-composite-part {
  .composite.title.has-composite-bar {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}

.overflowingContentWidgets {
  /* 代码提示框 */
  .editor-widget.suggest-widget {
    padding: 0.2rem 0.4rem !important;
    border-radius: 12px !important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) !important;
    background-color: transparent !important;
    backdrop-filter: blur(12px) brightness(120%);
  }
}

/* 鼠标悬停在代码上的提示框 */
.monaco-hover:not(.hidden) {
  padding: 1em 2em !important;
  font-family: "Jetbrains mono", "霞鹜文楷等宽", monospace;
  border: 1px solid rgb(36, 40, 48) !important;
  box-shadow: 0 0 8px 2px rgb(32, 36, 42) !important;
  border-radius: 12px !important;
  background-color: rgba(40, 44, 52, 0.2) !important;
  backdrop-filter: blur(8px) brightness(120%);
  width: max-content !important;
  min-width: fit-content !important;
}

/* 代码提示框行的提示框 */
.overflowingOverlayWidgets {
  .suggest-details {
    padding: 0.2rem 0.4rem !important;
    border-radius: 12px !important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) !important;
    background-color: transparent !important;
    backdrop-filter: blur(12px) brightness(120%);
  }
}
